# Connecting to MongoDB

In [1]:
import pymongo
import pandas as pd
from sqlalchemy import create_engine , text

# Connecting to MongoDB
client = pymongo.MongoClient("mongodb://Dap_project_mongo:Dap_mongo@localhost:27017/admin")

# Accessing the "Dapmongo" database
db = client["Dapmongo"]

# Retrieving data from the "enforcement" collection
enforcement_data = list(db["enforcement"].find())

# Converting the data into a pandas dataframe
enforcement_df = pd.DataFrame(enforcement_data)

# Retrieving data from the "occupancy" collection
occupancy_data = list(db["occupancy"].find())

# Converting the data into a pandas dataframe
occupancy_df = pd.DataFrame(occupancy_data)

In [2]:
#Checking number of documents in both dataframes

print("Number of documents in enforcement dataframe:", len(enforcement_df))
print("Number of documents in occupancy dataframe:", len(occupancy_df))

Number of documents in enforcement dataframe: 16070
Number of documents in occupancy dataframe: 45829

In [3]:
#Cleaning up the columns with trailing whitespace
enforcement_df.columns = enforcement_df.columns.str.strip()

#Droping the columns for data analysis
columns_to_drop_in_enforcement = [ "_id" ,"rowid" , "guid" , "data1" , "data2" ,"data3" , "data4" , "data5" ,
                                  "data6" , "Address_House_Number","Address_House_Fraction_Number", 
                                  "Address_Street_Direction", 
"Address_Street_Name","Address_Street_Suffix", "Address_Street_Suffix_Direction", "Date_Case_Closed"]

In [4]:
#Cleaning up the columns with trailing whitespace
occupancy_df.columns = occupancy_df.columns.str.strip()
#Droping the columns for data analysis
columns_to_drop_in_occupancy = ["_id","Assessor Book","Assessor Page","Assessor Parcel","TRACT","BLOCK","LOT",
              "Reference # (Old Permit #)","PCIS Permit #","Permit Sub-Type",
              "Permit Category","Initiating Office","Address Start","Address Fraction Start",
              "Address End","Address Fraction End","Street Direction","Street Name","Street Suffix",
              "Suffix Direction","Unit Range Start","Unit Range End","Work Description",
              "Floor Area-L.A. Zoning Code Definition","# of Residential Dwelling Units","Contractor's Business Name",
              "Contractor Address","Contractor City",
              "Contractor State","License Type","License #","Principal First Name",
              "Principal Middle Name","Principal Last Name","License Expiration Date",
              "Applicant First Name","Applicant Last Name","Applicant Business Name","Event Code",
              "Applicant Address 1","Applicant Address 2","Applicant Address 3" , "Project Number" ]

In [5]:
#Removing columns from dataframe for data analysis
enforcement_df.drop(columns=columns_to_drop_in_enforcement, inplace=True)
occupancy_df.drop(columns=columns_to_drop_in_occupancy, inplace=True)

In [6]:
#Displaying the first 10 rows from the enforcement dataframe
enforcement_df.head(10)

,Case_Number,LADBS_Inspection_District,Address_Zip,Date_Case_Generated,Parcel_Identification_Number_PIN,Case_Type,Area_Planning_Commission_APC,Status_of_Case,latitude,longitude
0,943514,3142,91352,0021-12-22T00:00:00,189B173 720,GENERAL,North Valley,O,34.21173,-118.37264
1,943504,2142,90004,0021-12-22T00:00:00,141A201 278,GENERAL,Central,O,34.0797,-118.28662
2,943515,4106,90057,0021-12-23T00:00:00,133-5A205 7,CNAP,Central,O,34.0622,-118.27292
3,943519,3123,91352,0021-12-23T00:00:00,198B181 51,GENERAL,North Valley,O,34.23685,-118.34843
4,943523,2301,90744,0021-12-23T00:00:00,030B209 452,VEIP,Harbor,O,33.7781,-118.24906
5,943511,1112,90062,0021-12-22T00:00:00,114B189 563,GENERAL,South Los Angeles,O,34.0098,-118.31426
6,943487,2103,91401,0021-12-22T00:00:00,174B157 1018,GENERAL,South Valley,O,34.16941,-118.43145
7,943522,1131,90019,0021-12-23T00:00:00,129B189 914,GENERAL,Central,O,34.04781,-118.32507
8,943463,1112,90007,0021-12-21T00:00:00,123B197 191,GENERAL,South Los Angeles,O,34.03574,-118.29224
9,943521,2133,90026,0021-12-23T00:00:00,138A209 256,GENERAL,East Los Angeles,O,34.07143,-118.25637

In [7]:
#Displaying the first 10 rows from the Occupancy dataframe
occupancy_df.head(10)

,CofO Number,CofO Issue Date,Status,Status Date,Permit Type,Permit Issue Date,Zip Code,Valuation,# of Stories,ZONE,OCCUPANCY,Floor Area-L.A. Building Code Definition,Census Tract,Latitude/Longitude
0,221064,11/17/2021,CofO Issued,11/17/2021 12:00:00 AM,Bldg-Addition,11/17/2021,91344.0,80000.0,0.0,RS-1,NaN,358.0,1066.42,NaN
1,228800,11/06/2021,CofO Issued,11/06/2021 12:00:00 AM,Bldg-Alter/Repair,11/06/2021,90065.0,0.0,0.0,R1-1-CDO,NaN,0.0,1861.00,NaN
2,221751,08/02/2022,CofO Issued,08/02/2022 12:00:00 AM,Bldg-Alter/Repair,08/02/2022,91304.0,25000.0,0.0,RS-1,NaN,0.0,1344.23,NaN
3,233881,05/17/2023,CofO Issued,05/17/2023 12:00:00 AM,Bldg-Addition,05/17/2023,91364.0,67000.0,1.0,R1-1,NaN,343.0,1380.00,"(34.15702, -118.59765)"
4,86776,01/30/2015,CofO Issued,01/30/2015 12:00:00 AM,Bldg-Alter/Repair,01/30/2015,91343.0,5000.0,NaN,C2-1,NaN,0.0,1175.20,"(34.22931, -118.46648)"
5,18563,02/26/2017,CofO Issued,02/24/2017 12:00:00 AM,Bldg-Addition,02/26/2017,90008.0,15000.0,2.0,R1-1,R3 Occ. Group,652.0,2364.00,"(34.00234, -118.35788)"
6,108938,04/20/2022,CofO Issued,04/20/2022 12:00:00 AM,Bldg-Addition,04/20/2022,90049.0,30000.0,2.0,RE11-1,NaN,333.0,2623.02,"(34.0704, -118.4719)"
7,145745,12/14/2018,CofO Issued,12/14/2018 12:00:00 AM,Bldg-New,12/14/2018,91040.0,98870.0,1.0,R1-1-RFA,NaN,989.0,1034.00,NaN
8,135304,04/29/2016,CofO Issued,04/29/2016 12:00:00 AM,Bldg-Addition,04/29/2016,90066.0,250000.0,2.0,R1-1,NaN,1901.0,2723.01,"(34.00184, -118.42117)"
9,237590,09/01/2022,CofO Issued,09/01/2022 12:00:00 AM,Bldg-Addition,09/01/2022,91307.0,40000.0,0.0,RS-1,NaN,358.0,1352.03,"(34.18627, -118.65159)"

In [8]:
#List of integer type columns in enforcement dataframe
int_columns_enforcement = [ "Case_Number","LADBS_Inspection_District","Address_Zip"]

In [9]:
#List of integer type columns in occupancy dataframe
int_columns_occupancy = [ "CofO Number", "Zip Code" ]

In [10]:
#Replacing missing values with 0 in the enforcement dataframe
for col in int_columns_enforcement:
    enforcement_df[col] = enforcement_df[col].fillna(0).astype(int)

In [11]:
#Replacing missing values with 0 in the occupancy dataframe
for col in int_columns_occupancy:
    occupancy_df[col] = occupancy_df[col].fillna(0).astype(int)

In [12]:
#List of float type columns in occupancy dataframe
float_columns_enforcement = [ "latitude", "longitude" ]

In [13]:
#List of float type columns in enforcement dataframe
for col in float_columns_enforcement:
    enforcement_df[col] = enforcement_df[col].fillna(0.0).astype(float)

In [14]:
#Displaying the rows from the enforcement dataframe
enforcement_df.head()

,Case_Number,LADBS_Inspection_District,Address_Zip,Date_Case_Generated,Parcel_Identification_Number_PIN,Case_Type,Area_Planning_Commission_APC,Status_of_Case,latitude,longitude
0,943514,3142,91352,0021-12-22T00:00:00,189B173 720,GENERAL,North Valley,O,34.21173,-118.37264
1,943504,2142,90004,0021-12-22T00:00:00,141A201 278,GENERAL,Central,O,34.07970,-118.28662
2,943515,4106,90057,0021-12-23T00:00:00,133-5A205 7,CNAP,Central,O,34.06220,-118.27292
3,943519,3123,91352,0021-12-23T00:00:00,198B181 51,GENERAL,North Valley,O,34.23685,-118.34843
4,943523,2301,90744,0021-12-23T00:00:00,030B209 452,VEIP,Harbor,O,33.77810,-118.24906

In [15]:
# Split "Latitude/Longitude" into two separate columns
occupancy_df[['latitude', 'longitude']] = occupancy_df['Latitude/Longitude'].str.replace(r'\(|\)', '', regex=True).str.split(',', expand=True)

# Convert the values to float
occupancy_df['latitude'] = occupancy_df['latitude'].astype(float)
occupancy_df['longitude'] = occupancy_df['longitude'].astype(float)
occupancy_df.drop(columns=['Latitude/Longitude'], inplace=True)

In [16]:
#Displaying the first 10 rows from the occupancy dataframe
occupancy_df.head(10)

,CofO Number,CofO Issue Date,Status,Status Date,Permit Type,Permit Issue Date,Zip Code,Valuation,# of Stories,ZONE,OCCUPANCY,Floor Area-L.A. Building Code Definition,Census Tract,latitude,longitude
0,221064,11/17/2021,CofO Issued,11/17/2021 12:00:00 AM,Bldg-Addition,11/17/2021,91344,80000.0,0.0,RS-1,NaN,358.0,1066.42,NaN,NaN
1,228800,11/06/2021,CofO Issued,11/06/2021 12:00:00 AM,Bldg-Alter/Repair,11/06/2021,90065,0.0,0.0,R1-1-CDO,NaN,0.0,1861.00,NaN,NaN
2,221751,08/02/2022,CofO Issued,08/02/2022 12:00:00 AM,Bldg-Alter/Repair,08/02/2022,91304,25000.0,0.0,RS-1,NaN,0.0,1344.23,NaN,NaN
3,233881,05/17/2023,CofO Issued,05/17/2023 12:00:00 AM,Bldg-Addition,05/17/2023,91364,67000.0,1.0,R1-1,NaN,343.0,1380.00,34.15702,-118.59765
4,86776,01/30/2015,CofO Issued,01/30/2015 12:00:00 AM,Bldg-Alter/Repair,01/30/2015,91343,5000.0,NaN,C2-1,NaN,0.0,1175.20,34.22931,-118.46648
5,18563,02/26/2017,CofO Issued,02/24/2017 12:00:00 AM,Bldg-Addition,02/26/2017,90008,15000.0,2.0,R1-1,R3 Occ. Group,652.0,2364.00,34.00234,-118.35788
6,108938,04/20/2022,CofO Issued,04/20/2022 12:00:00 AM,Bldg-Addition,04/20/2022,90049,30000.0,2.0,RE11-1,NaN,333.0,2623.02,34.07040,-118.47190
7,145745,12/14/2018,CofO Issued,12/14/2018 12:00:00 AM,Bldg-New,12/14/2018,91040,98870.0,1.0,R1-1-RFA,NaN,989.0,1034.00,NaN,NaN
8,135304,04/29/2016,CofO Issued,04/29/2016 12:00:00 AM,Bldg-Addition,04/29/2016,90066,250000.0,2.0,R1-1,NaN,1901.0,2723.01,34.00184,-118.42117
9,237590,09/01/2022,CofO Issued,09/01/2022 12:00:00 AM,Bldg-Addition,09/01/2022,91307,40000.0,0.0,RS-1,NaN,358.0,1352.03,34.18627,-118.65159